*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: grid;
    place-items: center;
    min-height: 100vh;
    background: linear-gradient(to right, #fff, #ffdca8);
}
.container{
    height: 350px;
    background-color: #ffffff;
    padding: 35px;
    border-radius: 20px;
    width: 450px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.card{
    padding: 20px;
    width: auto;
    margin-bottom: 15px;
}
.property{
    margin: 12px 0;
    align-items: flex-start;
    display: flex;
    column-gap: 15px;
}
.property span:nth-child(1){
    font-weight: 600;
    font-size: 17px;
    color: #333333;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.property span:nth-child(2){
    font-size: 16px;
    color: #666666;
    word-break: break-word;
}
.search-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 0.1rem;
}
.search-form input{
    height: 40px;
    width: 250px;
    padding: 0 12px;
    font-size: 17px;
    border: 2px solid #dddddd;
    border-radius: 8px;
    outline: none;
    transition: all 0.3s ease;
    background-color: transparent;
}
.search-form input:focus{
    border-color: #ffdca8;
}
.search-form button{
    height: 40px;
    width: 88px;
    margin-left: 10px;
    font-size: 17px;
    border: none;
    border-radius: 8px;
    background-color: #ffdca8;
    color: #000000;
    cursor: pointer;
    transition: all 0.2s ease-in;
}
.search-form button:hover{
    background-color: #d2881a;
    color: #ffffff;
     border-radius: 9px;
     font-size: 18px;
}



